NasaAPOD/Connected Services/NasaAPODService/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51753/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51753/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_getAPOD_InputMessage">
    <wsdl:part name="parameters" element="tns:getAPOD" />
  </wsdl:message>
  <wsdl:message name="IService1_getAPOD_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAPODResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getAPODTitle_InputMessage">
    <wsdl:part name="parameters" element="tns:getAPODTitle" />
  </wsdl:message>
  <wsdl:message name="IService1_getAPODTitle_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAPODTitleResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getAPODExp_InputMessage">
    <wsdl:part name="parameters" element="tns:getAPODExp" />
  </wsdl:message>
  <wsdl:message name="IService1_getAPODExp_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAPODExpResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getAPODDate_InputMessage">
    <wsdl:part name="parameters" element="tns:getAPODDate" />
  </wsdl:message>
  <wsdl:message name="IService1_getAPODDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAPODDateResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getOldImage_InputMessage">
    <wsdl:part name="parameters" element="tns:getOldImage" />
  </wsdl:message>
  <wsdl:message name="IService1_getOldImage_OutputMessage">
    <wsdl:part name="parameters" element="tns:getOldImageResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getOldTitle_InputMessage">
    <wsdl:part name="parameters" element="tns:getOldTitle" />
  </wsdl:message>
  <wsdl:message name="IService1_getOldTitle_OutputMessage">
    <wsdl:part name="parameters" element="tns:getOldTitleResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getOldExp_InputMessage">
    <wsdl:part name="parameters" element="tns:getOldExp" />
  </wsdl:message>
  <wsdl:message name="IService1_getOldExp_OutputMessage">
    <wsdl:part name="parameters" element="tns:getOldExpResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getOldDate_InputMessage">
    <wsdl:part name="parameters" element="tns:getOldDate" />
  </wsdl:message>
  <wsdl:message name="IService1_getOldDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:getOldDateResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="getAPOD">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getAPOD" message="tns:IService1_getAPOD_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getAPODResponse" message="tns:IService1_getAPOD_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAPODTitle">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getAPODTitle" message="tns:IService1_getAPODTitle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getAPODTitleResponse" message="tns:IService1_getAPODTitle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAPODExp">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getAPODExp" message="tns:IService1_getAPODExp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getAPODExpResponse" message="tns:IService1_getAPODExp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAPODDate">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getAPODDate" message="tns:IService1_getAPODDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getAPODDateResponse" message="tns:IService1_getAPODDate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getOldImage">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getOldImage" message="tns:IService1_getOldImage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getOldImageResponse" message="tns:IService1_getOldImage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getOldTitle">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getOldTitle" message="tns:IService1_getOldTitle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getOldTitleResponse" message="tns:IService1_getOldTitle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getOldExp">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getOldExp" message="tns:IService1_getOldExp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getOldExpResponse" message="tns:IService1_getOldExp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getOldDate">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getOldDate" message="tns:IService1_getOldDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getOldDateResponse" message="tns:IService1_getOldDate_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getAPOD">
      <soap:operation soapAction="http://tempuri.org/IService1/getAPOD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAPODTitle">
      <soap:operation soapAction="http://tempuri.org/IService1/getAPODTitle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAPODExp">
      <soap:operation soapAction="http://tempuri.org/IService1/getAPODExp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAPODDate">
      <soap:operation soapAction="http://tempuri.org/IService1/getAPODDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getOldImage">
      <soap:operation soapAction="http://tempuri.org/IService1/getOldImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getOldTitle">
      <soap:operation soapAction="http://tempuri.org/IService1/getOldTitle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getOldExp">
      <soap:operation soapAction="http://tempuri.org/IService1/getOldExp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getOldDate">
      <soap:operation soapAction="http://tempuri.org/IService1/getOldDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:51753/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>